*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
}
#nav-links > ul{
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;

}
#lii{
    padding: 20px;
}
@media all and (max-width: 40rem){
    #lii{
        text-align: center;
        margin-left: 0 auto;
    }
}

a{
    color: blue;
    text-decoration: none;
}
a:hover{
    color: green;
}
#lii:hover{
    color: green;
    background-color: silver;
}

#head{
    font-size: 80px;
    color: blue;
    text-align: center;
    margin-top: 14%;
    font-family: serif; 
}
@media all and (max-width: 64rem){
    #head{
        font-size: 2rem;
        text-align: center;
        line-height: 50px;
    }
}
@media all and (max-width: 64rem){
#header{
    margin-top: 30%;

}
}

.para1{
    font-style: italic;
    font-size: 1.4rem;
    padding: 20px;
    text-align: center;
}
@media all and (max-width:64rem){
    .para1{
        text-align: center;
    }
}
#para3{
    font-style: italic;
    padding: 10px;
    font-size: 20px;
}
#nav-links{
    background-color: pink;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 27px;
     
}

.heading1{
    margin-top: 100px;
    color: red;
    padding: 10px;
    letter-spacing: 0.1rem;
}
@media screen and (max-width: 64rem){
    .heading1{
        margin-right: auto;
    }
}

#aa{
    color: white;
}
#aa:hover{
    color:rgb(0, 247, 123);
    background-color: slategray;
}
.divv{
    border-bottom: 5px solid red;
    margin-top:30%;
    
}
@media all and (max-width:680px){
    .divv{
        margin-top: 55%;
    }
}
#heading2{
    margin-top: 40px;
    padding-top: 35px;
}
.icon{
    margin-top: 40px;
    font-size: 50px;
    
}
@media all and (max-width:670px){
    .icon{
        font-size: 35px;
    }
}

.fab:hover{
    transform: translateY(2px);
    
}
.fas:hover{
    transform: translateY(2px);
}
.footer{
   
    font-size: 20px;
    background-color: pink;
    padding:20px;
    bottom: 0;
}

#skills{
font-family: cambria;
color: darkmagenta;
font-weight: bolder;
margin-top: 250px;
border: 2px solid green; 
background: black;
border-radius: 4px;
padding: 10px;
margin-right: 30%;
margin-left: 30%;

    
}
@media all and (max-width:64rem){
    #skills{
        margin-left: 30%;
    }
}
ol{
    color: white;
    margin-left: 20%;
    text-align: left;
    margin-top: 20px;
    border: 2px solid;
    padding: 20px;
    background: black;
    margin-right: 20%;
 
}
#skill-btn{
    border: 2px solid;
    padding: 10px;
    border-radius: 5px;
    
}
#skill-btn:hover{
    background: silver;
    color: teal;
    transform: translatey(3px);
}

#projects{
   display: flex;
   flex-direction: row;
justify-content: space-between;
padding: 10px;
}

@media all and (max-width:64rem){
    #projects{
        display: block;
        width: 200px;
    
    }
}

.work img{
    height: 250px;
    padding: 10px;
   margin-right: 30px;
    border-radius: 30px;
    box-shadow: 10px 7px rgba(0,0,0,0.4), 19px 9px rgba(0,0,0,0.10);
}
@media all and (max-width:64rem){
    .work,img{
        width: 410px;
        height: 300px;
        margin-left: 50px;
    }
}
@media all and (max-width: 600px){
    .work,img{
        width: 380px;
        height: 310px;
        margin-left: 10px;
    }
}

#aa{
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
}
figcaption{
    padding: 20px;
}

@media all and (max-width:375){
    .work{
        width: 200px;
        position: relative;
        margin-right: 30%;
    }
}
