*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
display: flex;
flex-direction: column;
height: 100vh;
}
#nav-links > ul{
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    
}
#lii{
    padding: 10px;
}
@media all and (max-width: 40rem){
    #lii{
        text-align: center;
        margin-left: 0 auto;
    }
}

a{
    color: blue;
    text-decoration: none;
}
a:hover{
    color: green;
}
#lii:hover{
    color: green;
    background-color: silver;
}
#lii:hover{
    border-bottom: 2px solid #6a6b6a;
}

.my_pic{
    display: flex;
    margin-top: 11%;
    margin-left: 5px;
    position: absolute;
}
@media all and (max-width:600px){
    .my_pic{
        display: flex;
        margin-top: 14%;
    }
}
#head{
    font-size: 55px;
    color: blue;
    text-align: center;
    margin-top: 14%;
    font-family: serif; 
}
@media all and (max-width: 64rem){
    #head{
        font-size: 2rem;
        text-align: center;
        line-height: 50px;
    }
}
@media all and (max-width: 64rem){
#header{
    margin-top: 30%;

}
}

.para1{
    font-style: italic;
    font-size: 1.4rem;
    padding: 20px;
    text-align: center;
}
@media all and (max-width:64rem){
    .para1{
        text-align: center;
    }
}
#para3{
    font-style: italic;
    padding: 10px;
    font-size: 20px;
}
#nav-links{
    background-color: pink;
    position: fixed;
    opacity: 0.8;
    top: 0;
    width: 100%;
    font-size: 27px;
     
}

.heading1{
    margin-top: 100px;
    color: red;
    padding: 10px;
    letter-spacing: 0.1rem;
}

#aa{
    color: white;
}
#aa:hover{
    color:rgb(0, 247, 123);
    background-color: slategray;
}
.divv{
    border-bottom: 5px solid red;
    margin-top:30%;
    
}
@media all and (max-width:680px){
    .divv{
        margin-top: 55%;
    }
}
#heading2{
    margin-top: 40px;
    padding-top: 35px;
}
.icon{
    margin-top: 40px;
    font-size: 25px;
    
}
@media all and (max-width:670px){
    .icon{
        font-size: 25px;
    }
}

.fab:hover{
    transform: translateY(2px);
    
}
.fas:hover{
    transform: translateY(2px);
}
.footer{
   display: flex;
   flex-direction: column;
    font-size: 20px;
    background-color: pink;
    padding:20px;
    bottom: 0;
}
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skills > h1{
    margin: 20px 0;
    border-bottom: 3px solid ;
    color: rgb(58, 44, 11);
    margin-top: 10%;
}
.skills > .my_skills{
    background-color: #6a6b6a;
    width: 400px;
    height: 350px;
    border-radius: 0 100px;
}
.skills > .my_skills > ul{
    padding: 30px;
    list-style-type: none;
    color: #fff;
    background-color: rgb(155, 4, 4);
    border-bottom-left-radius: 20px;
    border-top-right-radius: 100px;
}
.skills > .my_skills > ul > li{
    padding-inline-end: 20px;
    line-height: 3;
}
@media all and (max-width: 400px){
    .skills > .my_skills{
        width: 300px;
        display: flex;
        position: relative;
        
    }
}
#projects{
   display: flex;
   flex-grow: 0;
   overflow-x: scroll;
justify-content: space-between;
padding:0 10px
}

.work img{
    flex-direction: column;
    height: 250px;
    padding: 10px;
    display: flex;
   margin-right: 30px;
    border-radius: 30px;
    box-shadow: 10px 7px rgba(0,0,0,0.4), 19px 9px rgba(0,0,0,0.10);
}
@media all and (max-width:64rem){
    .work,img{
        width: 410px;
        height: 300px;
        margin-left: 50px;
    }
}
@media all and (max-width:600px){
    .work,img{
        width:300px ;
        display: flex;
        flex-direction: column;
        position: relative;
        right: 14%;
    }
}
#aa{
    text-align: center;
    color:blanchedalmond;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    display: inline-block;
    background-color: #6a6b6a;
    padding: 5px 5px;
    border-radius: 8px;
}
#aa:hover{
    transition: 0.5 all;
    border-bottom: 2px solid #6a6b6a;
    padding: 10px 8px;
}
figcaption{
    padding: 20px;
}

@media all and (max-width:375){
    .work{
        width: 200px;
        position: relative;
        margin-right: 30%;
    }
}
b{
color: blue;
font-weight: bolder;
text-decoration: underline;

}
